.section__1 {
    padding: 5rem;
    display: flex;
    justify-content: space-between;
}



.lista__section1 {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.titulo {
    font-size: 3rem;
}

strong {
    color: #7c8694;
}


@media (max-width: 768px) {
    .section__1 {
        flex-direction: column;
        padding: 5rem;
        align-items: center;
        text-align: center;
    }

    .titulo {
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
    }

    .lista__section1 {
        gap: 1.5rem;
        width: 100%;
    }

    .lista__section1 li {
        margin-bottom: 1rem;
    }
}